<% if @article.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Mensaje de error</h4>
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg.gsub("Title can't be blank", "El Titulo no puede estar en blanco").gsub("Title is too short (minimum is 5 characters)", "Titulo demaciado corto") %></li>
        <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>