<div id="page-content">
<div class="container" id="home-container"> 
    <div class="bg-light p-5 rounded-lg m-3" id="jumbotron">
        <h1 class="display-4">Encabezado</h1>
        <p class="lead">Prueba de formato y visualizacion de texto sobre una imagen cargada</p>
        <hr class="my-4">
        <p>Todo dentro de un contenidor con sus respectivos estilos</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Vacio</a>
    </div>
</div>
<div class="container">
    <%= link_to 'Lista de Articulos', articles_path %>
</div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Gabriel GitHub", "https://github.com/GabrielGuidolin", class: "text-white" %></small>
    </div>
</footer>